.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 20rem;
  margin: 1rem 0;
  padding: 0.75rem;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;

  .stock {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    color: black;

    .out {
      color: rgb(211, 1, 1);
      font-weight: 600;
    }
  }

  img {
    border-radius: 0.25rem;
    width: 90%;
    height: 12rem;
    margin: 1rem auto 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0.75rem;
    width: 100%;

    h2 {
      font-size: 1.5rem;
    }

    p {
      color: black;
    }

    app-primary-button {
      margin-left: 5rem;
    }
  }
}
