.card {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 18rem;
  margin: 1rem 0;
  padding: 0.75rem;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
